@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.login {
    /* display: flex;
    margin-top: 25px;
    margin-left: 70px;
    width: 90%;
    border-radius: 20px; */
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}
.form {
    height: 400px;
    padding: 4%;
    margin-right: 3%;
    margin-top: 10%;
}
.forgot{
    margin-top: -6%;
    margin-left: 70%;
    font-size: small;
}
/* .form,
.image img{
        height: 470px;
        width: 400px;
} */
h2 {
   
    color: #6A7DE1;
    text-align: center;
    font-family: Montserrat;
}
.checkbox {
    margin-right: 50%;
}
.box{
    margin-right: 86%;
    margin-top: 3%
}
.keep{
    color: black;
    margin-top: -3%;
    /* margin-left: 1%; */
}
.check {
  margin-top: 3%;
}

.account {
    text-align: center;
    justify-content: center;
    margin-top: 3%;
    font-size: 14px;
}
label h5 {
    width: 10%;
}
.container {
    height: 30px;
    width: 400px;
    padding-left: 5px;
    border-color: #6A7DE1;
    border: none;
    border: 2px #6A7DE1  solid;
    border-radius: 10px;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
}

.password {
    text-align: center;
    justify-content: center;
    margin-top: 3%;
}
.email {
    text-align: center;
    justify-content: center;
    margin-top: 3%;
}
.password h5 {
    margin-bottom: 0.5%;
}
button {
    text-align: center;
    justify-content: center;
    height: 33px;
    margin-top: 5%;
    width: 315px;
    background-color: #6A7DE1 ;
    height: 37px;
    border: none;
    border-radius: 50px;
    color: #FFFFFF;
}
.image {
    background-color: #6A7DE1;
    margin-top: 3%;
    margin-left: 5%;
    margin-bottom: 2%;
    width: 600px;
    height: 480px;
    border-radius: 14px 0px 0px 14px;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}
.main-container{
    background-color: white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    border-radius: 12px;
    border: solid 2px white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
@media screen and (max-width: 200px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }