.Cont{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-top: 5%;
    margin-left: 5%;
    padding: 5%;
    width: 80%;
    border-radius: 15px;
    background-color: white;
    height: 50%;
}
.fit{
    margin-top:-10%;
    margin-left: 46%;
}
.loggo2{
   margin-right: 84%;
}
.loggo3{
    margin-left: 44%;
    margin-top: -5%;
 }
 .Fin {
    margin-left: 34%;
 }
 .Fin p {
    color: blue;
    font-size: small;
 }
h1{
    color: aliceblue;
    margin-right: 65%;
    /* margin-top: 10%; */
    padding: 5%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h4{
    margin-right: 27%;
    color: aliceblue;
    font-family: nunito;
    font-size: 29px;
    margin-top: -3%;
}
p{
     margin-right: 50%;
     color: aliceblue;
     font-family: nunito;
}
.Home{
    margin-left: 3%;
    background-color: rgb(9, 9, 92);
    width: 95%;
    margin-top: 4%;
    /* opacity: 70%; */
    border-radius: 20PX;
    /* margin-right: 13%; */
}

.click{
    margin-top: 3%;
background-color: blue;
    color: white;
    width: 25%;
    padding: 2%;
    margin-left: 25%;
    border-radius: 11px;
}
