.aboutText h2{ 
    color: #4460DC;   
    font-family: 'Montserrat', sans-serif;   
}  
.aboutText p{  
    font-family: 'Montserrat', sans-serif;  
    font-size:12px;

} 
.aboutText{ 
    /* margin-top:6%; */
    margin-left:3%;
}
.hashloader{ 
    display: block;
    margin-left: 45%;
    margin-right:25%;
    margin-top: 25%;
    margin-bottom: 25%;
    width: 50%;
}   
.About img{  
     margin-top: 5%;
     width: 90%;
    /* margin-top: 6%;  */
    
}  
.Logo{ 
    margin-left: 2%; 
    width: 80px; 
    margin-top: -46%;
} 
.About a{
    margin-left: 44%;
    margin-top: 10%;
} 








