.Cont{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-top: 1%;
    margin-left: 7%;
    padding: 3.2%;
    width: 80%;
    border-radius: 15px;
    background-color: white;
    height: 50%;
}
.fit{
    margin-top:-9.5%;
    margin-left: 40%;
}
.loggo2{
   margin-right: 84%;
   margin-top: -3%;
}
.loggo3{
    margin-left: 50%;
    margin-top: -5%;
 }
 .Fin {
    margin-left: 34%;
 }
 .Fin p {
    color: blue;
    font-size: small;
 }
h1{
    color: aliceblue;
    margin-right: 65%;
    /* margin-top: 10%; */
    padding: 5%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h4{
    margin-right: 27%;
    color: aliceblue;
    font-family: nunito;
    font-size: 29px;
    margin-top: -3%;
}
p{
     margin-right: 50%;
     color: aliceblue;
     font-family: nunito;
}
.Home{
    margin-left: 5%;
    background-color: rgb(9, 9, 92);
    width: 90%;
    /* margin-top: 4%; */
    /* opacity: 70%; */
    border-radius: 20PX;

    /* margin-right: 13%; */
}

.click{
    margin-top: 5%;
background-color: blue;
    color: white;
    width: 25%;
    padding: 2%;
    margin-left: 25%;
    border-radius: 11px;
}

@media screen and (max-width: 320px) {
    .Cont{
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        margin-top: 1%;
        margin-left: 7%;
        width: 80%;
        border-radius: 15px;
        background-color: white;
        /* height: 50%; */
    }
    .fit img{
        margin-top:10%;
        margin-left: -15%;
        width: 170px;
        height: 100px;
        /* padding: 10px; */

    }
    .loggo2 img{
       margin-right: 80%;
       margin-top: 30%;
       width: 70%;
       height: 70%;
    }
    .loggo3 img{
        margin-left: 10%;
        margin-top: -4%;
        border: solid;    
        width: 10%;
        height: 10%;
     }
     .Fin{
        margin-left: 34%;
        /* width: 60%;
        height: 60%; */

     }
     .Fin p {
        color: blue;
        font-size:10px;
     }
    h1{
        color: aliceblue;
        margin-right: 65%;
        /* margin-top: 10%; */
        padding: 5%;
        font-size:20px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    h4{
        margin-right: 22%;
        color: aliceblue;
        font-family: nunito;
        font-size: 15px;
        margin-top: -3%;
    }
    p{
         margin-right: 50%;
         font-size:10px;
         color: aliceblue;
         font-family: nunito;
    }
    .Home{
        margin-left: 5%;
        background-color: rgb(9, 9, 92);
        width: 90%;
        /* margin-top: 4%; */
        /* opacity: 70%; */
        border-radius: 20PX;
    
        /* margin-right: 13%; */
    }
    
    .click{
        margin-top: 5%;
        background-color: blue;
        color: white;
        width: 25%;
        padding: 2%;
        margin-left: 25%;
        border-radius: 5px;
    }

}

@media screen and (max-width: 1300px) {
    .Cont{
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        margin-top: 1%;
        margin-left: 7%;
        width: 80%;
        border-radius: 15px;
        background-color: white;
        /* height: 50%; */
    }
    .fit img{
        margin-top:10%;
        margin-left: -15%;
        width: 170px;
        height: 100px;
        /* padding: 10px; */

    }
    .loggo2 img{
       margin-right: 70%;
       margin-top: 30%;
       width: 70%;
       height: 70%;
    }
    .loggo3 img{
        margin-left: 12%;
        margin-top: -4%;
        /* border: solid;     */
        width: 10%;
        height: 10%;
     }
     .Fin{
        margin-left: 40%;
        /* width: 60%;
        height: 60%; */

     }
     .Fin p {
        color: blue;
        font-size:10px;
     }
    h1{
        color: aliceblue;
        margin-right: 65%;
        /* margin-top: 10%; */
        padding: 5%;
        font-size:20px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    h4{
        margin-right: 35%;
        color: aliceblue;
        font-family: nunito;
        font-size: 15px;
        margin-top: -3%;
    }
    p{
         margin-right: 50%;
         font-size:10px;
         color: aliceblue;
         font-family: nunito;
    }
    .Home{
        margin-left: 5%;
        background-color: rgb(9, 9, 92);
        width: 90%;
        /* margin-top: 4%; */
        /* opacity: 70%; */
        border-radius: 20PX;
    
        /* margin-right: 13%; */
    }
    
    .click{
        margin-top: 5%;
        background-color: blue;
        color: white;
        width: 25%;
        padding: 2%;
        margin-left: 25%;
        border-radius: 5px;
    }

}