@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
/* body {
  background-color: white;
  /* opacity: .5; */
/* } */ */
/* .form-control{
  border: solid green 2px;
} */

.main {
  border: solid 2px white;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.form-control{
  height: 30px;
  width: 400px;
  padding-left: 5px;
  border-color: #6A7DE1;
  border: none;
  border: 2px #6A7DE1  solid;
  border-radius: 10px;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
}
.signup {
  color: #6a7de1;
  font-family: Montserrat;
  font-weight: 500px;
}

.gender {
  margin-top: -5%;
  height: 35px;
  border-color: #6a7de1;
  border: 2px #6a7de1 solid;
  border-radius: 10px;
  width: 510px;
  color: black;
}
.password {
  margin-top: 3%;
}
.form-check-input{
  color: red;
}
form{
  padding-bottom: 3%;
}
.email {
  margin-top: 3%;
}
.confirm_password {
  margin-top: 3%;
}
button {
  height: 35px;
  margin-top: 5%;
  width: 315px;
  background-color: #6a7de1;
  height: 37px;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  font-size: 15px;
}
/* height: "35px",
  marginTop: "5%",
  width: "315px",
  backgroundColor: "#6a7de1",
  height: "37px",
  border: "none",
  borderRadius: "50px",
  color: "#ffffff",  
  fontSize: "15px" */
.signUp {
  display: flex;
}
.signup {
  margin-top: -3%;
}
.form {
  background-color: white;
  /* padding-right: 50%; */
}
.continer{
/* border: green; */
border:  2px #6a7de1 solid;
border-radius: 8px;
width: 510px;
margin-left: auto;
margin-right: auto;
}
.main-container {
  margin-left: auto;
  margin-right: auto;
  border: solid white 2px;
  height: 150%;
  width: 600px;
  border-radius: 12px;
  margin-top: 5%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
 
.form-control {
  margin-top: 2%;
}
.first-control{
color: red;

}
.names {
    display: flex;
    margin-left: 33px;
  }
  .account{
    color: black;
    margin-left: auto;
    margin-right: auto;
  }
/* @media only screen and (max-width: 320px) {
    #style-switcher {
      /* display: none; */
    /* }
    .continer{
      width: fit-content;
    }
    .container{
      width: fit-content;
    }
    .main-container{
   display: none;
    }
  } */ 
  @media screen and (max-width: 200px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
